<footer>
	<a href="https://www.google.com/maps/place/North+Center,+Chicago,+IL/@41.9468872,-87.7026512,14z/data=!3m1!4b1!4m2!3m1!1s0x880fd26db4d6dfe3:0x2f2dd1f2838e3694" target="_blank"><i class="fa fa-map-marker"></i>Chicago, IL, 60618</a>
	<a href="tel:1234567890"><i class="fa fa-phone"></i>734-678-6972</a>
	<a href="mailto:hello@hammersmith.com"><i class="fa fa-envelope"></i>debjsiddall@gmail.com</a>
	<a href="#"><i class="fa fa-twitter"></i></a>
	<a href="#"><i class="fa fa-google-plus"></i></a>
	<a href="#"><i class="fa fa-facebook"></i></a>
	<a href="#"><i class="fa fa-linkedin"></i></a>	
</footer><!-- end footer -->